@charset "utf-8";

.article-wrapper{
  width: 100vw;
  background-color: #FDF6E3;
}

.content-area{
  width: 80%;
  margin: 0 auto;
}

.dog-name-title{
  font-size: 3.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #6D4321;
  margin-bottom: 60px;
  padding-top: 60px;
  padding-bottom: 10px;
  border-bottom: 4px solid #AC7F5E;
}

.flex-content{
  display: flex;
  justify-content: space-between;
}

.img-area{
  width: 70%;
}

.img-area img{
  width: 90%;
}

.feature-area{
  width: 30%;
}

.feature-tb{
  width: 100%;
  border-spacing: 0; 
  border-collapse: collapse;
}

.feature-tb tbody{
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #6D4321;
}

.feature-tb th,
.feature-tb td {
  padding-bottom: 10px;
  border-bottom: 4px solid #AC7F5E;
}

.feature-tb td {
  text-align: center;
}

.feature-tb tr:not(:first-child) th,
.feature-tb tr:not(:first-child) td {
  padding-top: 30px;
}

.description-area{
  padding-top: 42px;
  padding-bottom: 180px;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #6D4321;
  line-height: 1.25;
}