@charset "utf-8";

.article-favorite-box{
  display: flex;
  justify-content: end;
  margin-top: 0.75rem;
}

.fa-heart{
  width: var(--fa-width, 2.25rem);
  font-size: 2rem;
}

.fas{
  color: #ff4500;
}