@charset "utf-8";

html,body{
  height: 100%;
}

#app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  flex-grow: 1;
}

.main-header{
  background-color: #AC7F5E;
  height: 96px;
  display: flex;
  align-items: center;
}

.header-container{
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.navbar-container{
  display: flex;
  align-items: center;
}

.nav-list{
  display: flex;
}

.nav-item{
  padding-left: 1.5rem;
}

.nav-link{
  border: 1px #2D1A09 solid;
  border-radius: 7px;
  padding: 3px 8px;
  background-color: #ffff;
  color: #2D1A09;
}

.header-logo{
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #2D1A09;
}

.main-footer{
  background-color: #AC7F5E;
  height: 96px;
  display: flex;
  align-items: flex-end; 
  justify-content: center;
}

.footer-p{
  margin-bottom: 0.75rem;
}