@charset "utf-8";

/*共通部分 footerを下部に固定*/
html,body{
  height: 100%;
}

#app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  flex-grow: 1;
}

/*header*/
.main-header{
  background-color: #AC7F5E;
  height: 96px;
  display: flex;
  align-items: center;
}

.header-container{
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

/*searchbar*/
.search-bar{
  margin: 0 auto;
}

.search-bar form{
  display: flex;
}

.input-area{
  background-color: #ffff;
  border: #5D4431 1px solid;
  border-radius: 5px 0 0 5px;
  height: 30px;
  width: 350px;
}

.search-icon{
  height: 20px;
}

.search-btn{
  background-color: #ffff;
  border: #5D4431 1px solid;
  border-radius: 0 5px 5px 0;
  height: 30px;
  padding: 2px 5px;
}

/*navbar*/
.navbar-container{
  display: flex;
  align-items: center;
}

.nav-list{
  display: flex;
}

.nav-item{
  padding-left: 1.5rem;
}

.nav-link{
  border: 1px #2D1A09 solid;
  border-radius: 7px;
  padding: 3px 8px;
  background-color: #ffff;
  color: #2D1A09;
}

.header-logo{
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #2D1A09;
}


/*footer*/
.main-footer{
  background-color: #AC7F5E;
  height: 96px;
  display: flex;
  align-items: flex-end; 
  justify-content: center;
}

.footer-p{
  margin-bottom: 0.75rem;
}