@charset "utf-8";

.padding-box{
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 90px;
}

.search-word{
  font-size: 2.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #6D4321;
}

/*ページネーションのcss*/
.pagination{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #6D4321;
}

.page-item{
  padding: 0 5px;
}

.w-5{
  width: 1.5rem;
}

.h-5{
  height: 1.5rem;
}

.inline-flex{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}