@charset "utf-8";

.route-login .main-content,
.route-register .main-content,
.route-password-request .main-content{
  display: flex; 
  justify-content: center;
  align-items: center;
}

.auth-wrapper{
  max-width: 45%; 
  width: 100%;
}

.form-row{
  display: flex;
  align-items: center;
}

.mail-container,
.name-container,
.route-register .password-container{
  margin-bottom: 60px;
}

.password-container,
.password-confirm-container,
.route-password-request .mail-container{
  margin-bottom: 18px;
}

.form-margin-bottom{
  margin-bottom: 5px;
}

.form-label{
  font-size: 1.25rem;
  font-weight: bold;
  width: 30%;
}

.login-input-area,
.register-input-area{
  border: 1px solid #000;
  border-radius: 5px;
  width: 70%;
}

input[type="email"],
input[type="password"],
.register-input-area input[type="text"]{
  width: 100%;
  height: 40px;
  padding: 0 0.25rem;
}

.invalid-feedback{
  color: red; /*エラーメッセージを赤文字表示*/
}

.error-message{
  width: 70%;
}

/*ログイン情報を記録する・パスワードを忘れましたか？の部分*/
.support-area{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-check{
  margin-right: 30px;
}

.form-check-input{
  width: 15px;
  height: 15px;
}

.form-check-label{
  font-size: 0.8rem;
  
}

.forget-password{
  color: #2B6DAC;
}

/*ログイン部分*/
.form-flex-end{
  justify-content: flex-end;
}

.btn-area{
  margin-top: 20px;
}

.auth-btn-primary{
  padding:10px;
  border-radius: 5px;
  box-shadow: -3px 3px 4px -2px rgba(0, 0, 0, 0.5);
}

.login-btn{
  background-color: #7AB360;
  border: 1px solid #679950;
  color: #fff;
}