@charset "utf-8";

/*ほとんどのcssがlogin.cssにまとめられてます*/

.reset-explanation{
  margin-bottom: 60px;
}

.reset-explanation p{
  color: #79888d;
}

.card-header{
  color: #464b4e;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.sendEmail-btn{
  background-color: #ffa500;
  border: 1px solid #cd853f;
  color: #fff;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
}