@charset "utf-8";

.title-area {
  background-color: #696969;
  background-image: url('../icon-etc/title_img.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  background-blend-mode: multiply;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-title{
  font-size: 4.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #F8F8F8;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.sub-title{
  margin-top: 8px;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #F8F8F8;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.top-wrapper{
  width: 100vw;
  margin: 0 auto;
}

/*カテゴリーここから*/
.category-wrapper{
  background-color: #FFFFFF;
}

.category-position{
  width: 85%;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
}

.category-heading{
  margin-bottom: 58px;
  font-size: 2.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #6d4321;
}

.dog-type{
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 15%;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  text-align: center;
  justify-content: center;
}

.type-item img{
  width: 100%;
}

.category-hr{
  margin: 48px auto;
  border-top: 4px dashed #AC7F5E;
}

.dog-origin{
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 12%;
  row-gap: 46px;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  text-align: center;
  justify-content: center;
}

.origin-search img{
  width: 100%;
  border: 1px solid #000;
}

.origin-text{
  margin-top: 12px;
  font-weight: bold;
  font-size: 1.2rem;
}

/*犬一覧ここから（list.blade.php兼用）*/

.list-wrapper{
  width: 85%;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
}

.create-flex{
  display: flex;
  align-items: center;
  margin-bottom: 58px;
}

.list-heading{
  font-size: 2.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #6d4321;
}

.sort-area{
  text-align: center;
  position: relative;
  padding-left: 24px;
}

#dog-sort-select{
  overflow: hidden;
  white-space: nowrap;
  padding-right: 20px;
  width: 100%; 
  box-sizing: border-box; 
}

.sort-area::after {
    content: "";
    position: absolute;
    right: 3px;
    top: 55%;
    transform: translateY(-50%); 
    pointer-events: none;
    z-index: 2;
    width: 12px; 
    height: 12px; 
    background-image: url("../icon-etc/triangle.svg");
    background-size: contain; /* サイズに合わせて画像を伸縮 */
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(90%) sepia(90%) saturate(400%) hue-rotate(345deg) brightness(94%) contrast(87%);
}

.admin-link{
  display: inline-block;
  white-space: nowrap;
  width: auto;
  margin-left: auto;
  background-color: #6d4321;
  color: #D9D9D9;
  padding: 8px 12px;
  border-radius: 5px;
}

.delete-btn-primary{
  background-color: #ff7f50;
  color: #fffafa;
}

.list-delete-btn{
  padding: 5px 8px;
  border-radius: 3px;
}

.dog-list{
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 10%;
  grid-template-columns: repeat(3, minmax(120px,1fr));
  row-gap: 120px;
}

.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.delete-area{
  width: 100%;
  text-align: center;
}

.dog-item{
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.dog-article{
  display: flex;
  flex-direction: column;      
  align-items: center;         
  justify-content: center;     
  width: 100%;
  height: 100%;
  text-align: center;
}

.dog-article img{
  width: 70%;
  height: auto;
  object-fit: contain;
}

.dog-article p{
  width: 70%;
  margin-top: 12px;
  font-size: 1rem;
}

.btn-area{
  margin-top: 48px;
}

#more-btn,
#close-btn{
  color: #6d4321;
  text-align: center;
  cursor: pointer;
}