@charset "utf-8";

.title-area {
  background-color: #696969;
  background-image: url('../icon-etc/title_img.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  background-blend-mode: multiply;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-title{
  font-size: 4.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #F8F8F8;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.sub-title{
  margin-top: 8px;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #F8F8F8;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.wrapper{
  width: 100vw;
  margin: 0 auto;
}

/*カテゴリーここから*/
.category-wrapper{
  width: 75%;
  margin: 90px auto;
}

.category-heading{
  margin-bottom: 58px;
  font-size: 2.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #6D4320;
}

.dog-type{
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 15%;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  text-align: center;
  justify-content: center;
}

.type-item img{
  width: 100%;
}

.category-hr{
  margin: 48px auto;
  border-top: 4px dashed #AC7F5E;
}

.dog-origin{
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 12%;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  text-align: center;
  justify-content: center;
}

.origin-item{
  margin-bottom: 24px;
}

.origin-search img{
  width: 100%;
  border: 1px solid #000;
}

.origin-text{
  margin-top: 12px;
  font-weight: bold;
  font-size: 1.2rem;
}

/*犬一覧ここから*/
.list-wrapper{
  background-color: #FDF6E3;
  width: 100vw;
}

.list-position{
  width: 75%;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
}

.list-heading{
  margin-bottom: 58px;
  font-size: 2.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #6D4320;
}

.dog-list{
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, minmax(120px,1fr));

}

.item{
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  overflow: hidden;
}

.dog-article{
  display: flex;
  flex-direction: column;      
  align-items: center;         
  justify-content: center;     
  width: 100%;
  height: 100%;
  text-align: center;
}

.dog-article img{
  width: 70%;
  height: auto;
  object-fit: contain;
}

.dog-article p{
  width: 70%;
  margin-top: 12px;
  font-size: 1rem;
}

.btn-area{
  margin-top: 48px;
}

#more-btn,
#close-btn{
  color: #6D4320;
  text-align: center;
  cursor: pointer;
}